body {
    font-size: 24px;
    font-family: sans-serif;
    background-image: url(https://s3.envato.com/files/207961648/preview.jpg);
}

header {
    color: lightgray;
    background-color: saddlebrown;
    text-align: center;

}

main {
    border: 1px solid black;
    box-shadow: 1px;
    text-align: center;
    width: 80%;
    max-width: 800px;
    float: center;
}

#side-menu {
    margin: 10px;
    float: left;
    background-color: lightgray;
    box-shadow: 2px 2px 5px gray;
    text-align: center;
}

#side-menu ul {
    list-style-type: inherit;
}

#side-menu ul li {
    padding: 5px;
    width: 200px;
    margin: 0px;
    background-color: saddlebrown;
    box-shadow: 2px 2px 5px black;
}

#side-menu ul li a {
    display: block;
    color: black;
    font-weight: bold;
    text-decoration: none;
}


img {
    box-shadow: 20px white;
    align-content: center;
    border: 20 px;
    border-color: white;

}

footer {
    font-size: 16px;
}
